@page
@using SupportManager.Web.Areas.Teams.Pages.Shared
@using SupportManager.Web.Infrastructure
@model SupportManager.Web.Areas.Teams.Pages.ScheduleForwardModel
@{
    ViewBag.Title = "Schedule forward";
}

<h2>Schedule single forward</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Forwarding information</h4>
        <hr/>
        @Html.HiddenFor(m => m.Data.TeamId)
        @Html.FormBlock(m => m.Data.PhoneNumber)
        @Html.FormBlock(m => m.Data.When, inputModifier: tag => tag.Attr("min", DateTime.Now.ToString("s")).Attr("step", "1"))
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>

    <hr />
}

<h2>Schedule using template</h2>
<vc:schedule-template-list render="model => new LinkTag(model.Name, @Url.Page("ScheduleTemplate", new {Model.TeamId, model.Id}))"></vc:schedule-template-list>

@section scripts
{
    <script type="text/javascript">
        var whenField = document.getElementById('Data_When');
        function updateMinValue() {
            whenField.setAttribute('min', new Date().toISOString().substring(0, 19));
        }
        window.setInterval(updateMinValue, 10000);
    </script>
}
