@using System.Threading
@using HtmlTags
@using SupportManager.Web.Features.Report
@model SupportManager.Web.Features.Report.Monthly.Result

@{
    ViewBag.Title = "Monthly result";
}

<h2>Monthly report</h2>
<h3>@Model.Date.ToString("MMMM yyyy", Thread.CurrentThread.CurrentUICulture)</h3>
@{
    int w = 0;
}
<table class="table">
    <thead>
    <tr>
        <th colspan="2">Week</th>
        @foreach (var summary in Model.Weeks[0].Summaries)
        {
            <th>@summary.GroupingKey</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var week in Model.Weeks)
    {
        <tr>
            <td>@Html.Display(m => m.Weeks[w].Start)</td><td>@Html.Display(m => m.Weeks[w].End)</td>
            @foreach (var summary in week.Summaries)
            {
                double totalSeconds;
                {
                    totalSeconds = summary.Duration.TotalSeconds;
                }

                <td>
                    @{ var mostParticipated = summary.Participations.OrderByDescending(p => p.Duration).First(); }
                    @mostParticipated.UserName <span class="text-secondary">@(Math.Round(mostParticipated.Duration.TotalSeconds / totalSeconds * 100, 1))%</span>

                    <!--<dl>
                        @foreach (var p in summary.Participations)
                        {
                            <dt>@p.UserName</dt>
                            <dd>@p.Duration</dd>
                            <dd>@(Math.Round(p.Duration.TotalSeconds / totalSeconds * 100, 1))%</dd>
                        }
                    </dl>-->
                </td>
            }
        </tr>
        {
            w++;
        }
    }
    </tbody>
</table>

<a href="@Url.Action("Monthly", Model.Previous.Query)" class="btn btn-outline-primary"><i class="fa fa-arrow-left"></i> @Model.Previous.Date.ToString("MMMM yyyy", Thread.CurrentThread.CurrentUICulture)</a>
<a href="@Url.Action("Monthly", Model.Next.Query)" class="pull-right btn btn-outline-primary">@Model.Next.Date.ToString("MMMM yyyy", Thread.CurrentThread.CurrentUICulture) <i class="fa fa-arrow-right"></i></a>
