@using SupportManager.Web.Areas.Admin.Controllers
@using SupportManager.Web.Features.Admin.Team
@using SupportManager.Web.Infrastructure
@model Details.Result

@{
    ViewBag.Title = "Team details";
}

<h2>Team details</h2>
<h3>@Model.TeamName</h3>

<h4>Current forwarding status</h4>
@if (Model.CurrentStatus != null)
{    
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-4">User</th>
            <th class="col-md-4">Phonenumber</th>
            <th class="col-md-3">Since</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>@Html.Display(m => m.CurrentStatus.User)</td>
            <td>@Html.Display(m => m.CurrentStatus.PhoneNumber)</td>
            <td>@Html.Display(m => m.CurrentStatus.When)</td>
        </tr>
        </tbody>
    </table>
}
else
{
    <div class="jumbotron">No current forwarding state.</div>
}

<h4>Team members</h4>
<table class="table">
    <thead>
    <tr>
        <th class="col-md-1"></th>
        <th class="col-md-4">Name</th>
        <th class="col-md-4">Primary phonenumber</th>
        <th class="col-md-3"></th>
    </tr>
    </thead>
    <tbody>
    @{ int i = 0; }
    @foreach (var member in Model.Members)
    {
        <tr>
            <td></td>
            <td>@Html.Display(m => m.Members[i].DisplayName)</td>
            <td>@Html.Display(m => m.Members[i].PrimaryPhoneNumber)</td>
            <td>
                @if (member.PrimaryPhoneNumberId != null)
                {
                    @(Html.Link<TeamController>(c => c.SetForward(new SetForward.Command {TeamId = Model.TeamId, PhoneNumberId = member.PrimaryPhoneNumberId.Value}), "Forward now"))
                }
            </td>
        </tr>
        i++;
    }
    </tbody>
</table>

<h4>Schedule</h4>
<table class="table">
    <thead>
    <tr>
        <th class="col-md-1"></th>
        <th class="col-md-4">User</th>
        <th class="col-md-4">Phonenumber</th>
        <th class="col-md-3">When</th>
    </tr>
    </thead>
    <tbody>
    @{ i = 0; }
    @foreach (var schedule in Model.Schedule)
    {
        <tr>
            <td>
                <a href="@Url.Action("EditForward", new {Model.TeamId, schedule.Id})"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td>@Html.Display(m => m.Schedule[i].User)</td>
            <td>@Html.Display(m => m.Schedule[i].PhoneNumber)</td>
            <td>@Html.Display(m => m.Schedule[i].When)</td>
        </tr>
        i++;
    }
    </tbody>
</table>
@(Html.Link<TeamController>(c => c.ScheduleForward(), "Schedule forward"))

<h4>History</h4>
<table class="table">
    <thead>
    <tr>
        <th class="col-md-1"></th>
        <th class="col-md-4">User</th>
        <th class="col-md-4">Phonenumber</th>
        <th class="col-md-3">Since</th>
    </tr>
    </thead>
    <tbody>
    @{ i = 0; }
    @foreach (var registration in Model.History)
    {
        <tr>
            <td></td>
            <td>@Html.Display(m => m.History[i].User)</td>
            <td>@Html.Display(m => m.History[i].PhoneNumber)</td>
            <td>@Html.Display(m => m.History[i].When)</td>
        </tr>
        i++;
    }
    </tbody>
</table>