@using HtmlTags
@model SupportManager.Web.Features.Report.Monthly.Result

@{
    ViewBag.Title = "Monthly result";
}
@{
    int w = 0;
}
<table class="table">
    <thead>
    <tr>
        <th>Week</th>
        @foreach (var summary in Model.Weeks[0].Summaries)
        {
            <th>@summary.GroupingKey</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var week in Model.Weeks)
    {
        <tr>
            <td>@Html.Display(m => m.Weeks[w].Start) - @Html.Display(m => m.Weeks[w].End)</td>
            @foreach (var summary in week.Summaries)
            {
                double totalSeconds;
                {
                    totalSeconds = summary.Duration.TotalSeconds;
                }

                <td>
                    @summary.Participations[0].UserName <span class="text-secondary">@(Math.Round(summary.Participations[0].Duration.TotalSeconds / totalSeconds * 100, 1))%</span>

                    <!--<dl>
                        @foreach (var p in summary.Participations)
                        {
                            <dt>@p.UserName</dt>
                            <dd>@p.Duration</dd>
                            <dd>@(Math.Round(p.Duration.TotalSeconds / totalSeconds * 100, 1))%</dd>
                        }
                    </dl>-->
                </td>
            }
        </tr>
        {
            w++;
        }
    }
    </tbody>
</table>
