@page
@using SupportManager.Web.Infrastructure
@model SupportManager.Web.Areas.Teams.Pages.Admin.Members.EditModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr/>
        @Html.HiddenFor(m => m.Data.Id)
        @Html.FormBlock(m => m.Data.DisplayName)
        @Html.FormBlock(m => m.Data.Login)
        @Html.FormBlock(m => m.Data.PrimaryEmailAddress)
        @Html.FormBlock(m => m.Data.PrimaryPhoneNumber)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    <a asp-route-TeamId="@Model.TeamId" asp-page="Index">Back to list</a>
</div>
