@using X.PagedList.Mvc.Core
@using SupportManager.Web.Areas.Admin.User
@model SupportManager.Web.Areas.Admin.User.Index.Result
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Login</th>
        <th>Primary phonenumber</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.DisplayName</td>
            <td>@user.Login</td>
            <td>@user.PrimaryPhoneNumberValue</td>
            <td><a asp-action="Edit" asp-route-id="@user.Id">Edit</a></td>
        </tr>
    }
    </tbody>
</table>

@Html.PagedListPager(Model.Users, page => Url.RouteUrl(new Index.Query { PageNumber = page }), new PagedListRenderOptions { LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link" } })

<p>
    <a asp-action="Create">Add user</a>
</p>